%html
  %body{:style => "width: 550px; margin: 10px auto"}
    %a{:href => "http://backtracks.co"}
      %center
        %h1 BackTracks

    %div{:style => "width:550px"}
      Er, this is embarrassing (for you), but there's no data for this |
      week in any of the previous years we wanted to send you email    |
      about. Maybe try again next week! And if you have any ideas for  |
      what I could put in these emails instead of an apology, hit the  |
      reply button and let me know! Thanks!                            |
